<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/shared/adminLayout :: dynamic(~{::main})}">



<main>
	<body onload="time()" id="page-top">
		<!-- Begin Page Content -->
		<div class="container-fluid">

			<!-- Page Heading -->
			<h1 class="h1 mb-2 text-gray-800" style="text-align: center;">TRANG QUẢN TRỊ</h1>
			<img alt="" src="/assets/image/admin.jpg" style="width: 100%">
			<hr>
			<!-- DataTales Example -->


		</div>


		<!-- Xóa tất cả MODAL -->






		<!-- edit modal -->






	</body>
</main>
</html>