<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org" th:replace="~{/shared/layout :: dynamic(~{::main})}">



<main>
<body class="archive post-type-archive post-type-archive-ht_kb ht-kb chrome">
	<div id="ht-site-container" class="clearfix ht-layout-fullwidth">


		<div id="primary" class="sidebar-off clearfix">
			<div class="ht-container">
				<!-- #content -->
				<main id="content" role="main" itemscope="itemscope" itemprop="mainContentOfPage">
					<!-- #ht-kb -->
					<div id="hkb" class="hkb-template-archive">
						<!-- .hkb-archive -->
						<ul class="hkb-archive hkb-archive--two-cols clearfix">
							<li>
								<div class="">
									<div class="">
										<h2 class="">
											<p href="#">CHÍNH SÁCH ĐỔI SẢN PHẨM</p>
										</h2>
										<h3>A. Đổi size</h3>
									</div>

									<ul class="hkb-article-list">
										<li class="#">
											<p>- Áp dụng 01 lần đổi /1 đơn hàng với các đơn hàng mua
												online và các đơn hàng mua tại cửa hàng.</p>
										</li>

										<li class="#">
											<p href="">- Sản phẩm đổi trong thời gian 3 ngày kể từ
												ngày mua hàng trên hoá đơn (đối với khách mua hàng trực tiếp
												tại cửa hàng), 3 ngày kể từ ngày nhận hàng (Đối với khách
												mua online)</p>
										</li>

										<li class="#">
											<p href="">- Sản phẩm còn mới nguyên tem, tags và mang
												theo hoá đơn mua hàng, sản phẩm chưa giặt và không dơ bẩn,
												hư hỏng bởi những tác nhân bên ngoài cửa hàng sau khi mua
												hàng.</p>
										</li>

										<li class="#">
											<p href="">- Không áp dụng đối với các sản phẩm là phụ
												kiện</p>
										</li>
									</ul>
									<div class="">

										<h3>B. Đổi sản phẩm lỗi</h3>
									</div>

									<ul class="hkb-article-list">
										<li class="#">
											<p href="">Điều kiện áp dụng</p>
											<p href="">- Sản phẩm lỗi kỹ thuật: Sản phẩm rách, bung
												keo, …</p>
										</li>

										<li class="#">
											<p href="">Trường hợp không được giải quyết</p>
											<p href="">- Sản phầm đã qua sử dụng</p>
										</li>

										<li class="#">
											<p href="">- Đối với sản phẩm lỗi kỹ thuật cần phản hồi
												đến Toko trong vòng 3 ngày, kể từ ngày mua hàng trên hoá đơn
												đối với khách mua trực tiếp tại cửa hàng, 3 ngày kể từ ngày
												nhận hàng đối với khách mua online.</p>
										</li>
									</ul>
								</div>
							</li>

							<li>
								<div class="">
									<div class="">
										<h2 class="">
											<p href="#">PHƯƠNG THỨC ĐỔI SẢN PHẨM</p>
										</h2>
									</div>

									<ul class="hkb-article-list">
										<li class="#">
											<p href="">- Hàng mua trực tiếp tại cửa hàng: Đổi trả
												trực tiếp tại cửa hàng mua hàng</p>
										</li>

										<li class="#">
											<p href="">- Hàng mua online (thông qua webiste, Shopee,
												Lazada): liên hệ fanpage TokoFashion để được hướng dẫn đổi
												trả</p>
										</li>
									</ul>
								</div>
								<div class="">
									<div class="">
										<h2 class="">
											<p href="#">CHI PHÍ ĐỔI HÀNG</p>
										</h2>
									</div>

									<ul class="hkb-article-list">
										<li class="#">
											<p href="">- Miễn phí đổi hàng cho khách mua ở
												TokoFashion trong trường hợp bị lỗi từ nhà sản xuất, giao
												nhầm hàng, bị hư hỏng trong quá trình vận chuyển hàng.</p>
										</li>

										<li class="#">
											<p href="">- Trong trường hợp không vừa size hay khách
												hàng không ưng sản phẩm không muốn nhận hàng phiền khách
												hàng trả ship hoàn đơn hàng về</p>
										</li>
									</ul>
								</div>
							</li>

						</ul>

					</div>

				</main>

			</div>

		</div>
	</div>



</body>
</main>

</html>