<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/shared/layout :: dynamic(~{::main})}">



<body>

  <main>
    <div class="container">
        <div class="row pt-5">
            <div class="col-6">
                <h2>Hệ thống cửa hàng</h2>
                <p>- CS1 - TP Hồ Chí Minh: 203 Nguyễn Trãi, Nguyễn Cư Trinh, Quận 1</p>
                <p>- CS1 - TP Hồ Chí Minh: 203 Nguyễn Trãi, Nguyễn Cư Trinh, Quận 1</p>
                <p>- CS1 - TP Hồ Chí Minh: 203 Nguyễn Trãi, Nguyễn Cư Trinh, Quận 1</p>
                <p>- CS1 - TP Hồ Chí Minh: 203 Nguyễn Trãi, Nguyễn Cư Trinh, Quận 1</p>
                <p>- CS1 - TP Hồ Chí Minh: 203 Nguyễn Trãi, Nguyễn Cư Trinh, Quận 1</p>
                <h2>TokoFashion</h2>
                <p>- Website: https//TokoFashion.com</p>
                <p>- Fanpage: </p>
                <p>- Lazada: </p>
                <p>- Shopee: </p>
            </div>
            <div class="col-6">
                <h2>Vị trí của cửa hàng</h2>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.59316566589!2d106.68582027486951!3d10.765804589382306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1787adfce3%3A0x6c9af1f1e3f11c23!2zMjAzIMSQLiBOZ3V54buFbiBUcsOjaSwgUGjGsOG7nW5nIE5ndXnhu4VuIEPGsCBUcmluaCwgUXXhuq1uIDEsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1697680487464!5m2!1svi!2s"
                    width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>


    </div>

  </main>

</body>

</html>